parameters:
    ignoreErrors:
#         - '#Constant APP_ENV not found#'
    polluteScopeWithLoopInitialAssignments: true
    inferPrivatePropertyTypeFromConstructor: true
    parallel:
        # to disable parallel uncomment next line
        #maximumNumberOfProcesses: 1
         jobSize: 80
         maximumNumberOfProcesses: 12
         minimumNumberOfJobsPerProcess: 12
