<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         testdox="true"
         colors="true"
         cacheResult="false"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/UI</exclude>
        </testsuite>
        <testsuite name="ui">
            <directory>tests/UI</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="APP_ENV" value="test"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target=".build-output/junit.xml"/>
        <log type="coverage-html" target=".build-output/coverage"/>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
    </logging>
</phpunit>
